<div class="container-fluid bg-fondo m-0" style="height : 100vh">
    <div class="row justify-content-center">
        <h2 class="bg-textoAplicar">Para poder ingresar al gremio primero tendras que aplicar a PARADISE y luego cumplir una serie de requisitos que mas adelante te explicaremos</h2>
        <div class="col-4 bg-from aplicarB">
<form method="post" action="/aplicar/mandar">
  <div class="form-group">
    <label for="mail" class="form-label">Email</label>
    <input type="email" class="form-control" name="mail">
  <div class="form-group">
    <label for="name" class="form-label">Nombre del Personaje</label>
    <input type="text" class="form-control" name="name">
  </div>
  
  <button type="submit" class="btn btn-primary">Aplicar</button>
</form>
  </div>
    </div>
</div>