<div class="bg-fondo">
 <div class="container">
     <h1 class="T-text">Paradise</h1>
     <h3 class="N-text">Paradise es un gremio netamente enfocado en las ZvZ, donde se enseña desde lo mas básico hasta lo mas complejo de este tipo de PvP. Fue creado con objetivo de tener una comunidad hispana fuerte en ZvZ, no exigimos 10 horas diarias en el juego, pero si exigimos el 100% del esfuerzo para mejorar en el timpo que estes conectado.

Nos caracteriza la dureza al momento de los entrenamientos, el nivel de relajo en los momentos cuando no haya CTA, la perseverancia de cada uno de los jugadores, la lealtad, solidaridad y el compromiso. Si te interesa aprender y disfrutar del mejor contenido del juego seras bienvenido, pero si solo buscas beneficio propio o ir en carrito.. buscar otro gremio.
</h3>
<h4 class="T-text">Metas:</h4>
  <div class="N-text">
      <ul>-En esta temporada apuntaremos a llegar a Oro y dependiendo que tan bueno es el contenido realizaremos batallas de facciones</ul>
      <ul>- Mejorar Como Zerg ZvZ</ul>
      <ul>- Tener Contenido ZvZ y Enseñar a los nuevos integrantes!</ul>
      <ul>- Brindar contenido a nuestros miembros.</ul>
        </div>
      <h4 class="T-text">REQUISITOS:</h4>
  <div class="N-text">
      <ul>- Discord y microfono activo.</ul>
      <ul>- Jugador activo.</ul>
      <ul>- Enfoque de ZvZ y tener ganas de aprender.</ul>
      <ul>- 1400 IP todas las personas con T8 calidad notable capa 4.2</ul>
        </div>
     <h4 class="T-text">¿POR QUE PARADISE ES PARA TI?</h4>
  <div class="N-text mb-3">
      <ul>- Tenemos mapa T8 con estatica.</ul>
      <ul>- Ofrecemos contenido diario para jugadores nuevos y veteranos.</ul>
      <ul>- Rondas de Ganking y PvP con repartición de dinero.</ul>
      <ul>- Practica constante para mejorar nuestro nivel de juego, Tanto ZvZ, PvP y PvE.</ul>
      <ul>- Somos una Comunidad Agradable y Activa.</ul>
      <ul>- No cobramos Cuotas semanales y 0% Tax .</ul>
      <ul>- Dungeons avalonianas diarias.</ul>    
        </div>
  </div>
 </div> 
</div> 