<div class="bg-fondo">
    <div class="container-fluid bg-fondo m-0" style="height : 100vh">
    <div class="row justify-content-center">
      <div class="col-7 bg-tabla">
  <ul class="list-group list-group-flush bg-Flist">
    <li class="list-group-item bg-Flist">{{miembro.usuario}}</li>
    <li class="list-group-item bg-Flist">{{miembro.Rango}}</li>
    <li class="list-group-item bg-Flist">{{miembro.Rol_zvz}}</li>
  </ul>
  </div>
</div>
</div>
</div>
</div>