 <div class="bg-fondo">
 <div class="container">
     <h2 class="bg-Fcard">En esta seccion voy a dejar unos videos de nuestro gremio paa que ustedes puedan ver nuestras actividades y nuestras peleas</h2>
     <h5 class="bg-textoV mt-3 mb-2">En este video vemos como nos enfrentamos a grandes Zergs, con más números que nosotros y aun asi logramos vencerlos</h3>

        <iframe class="m-video" width="560" height="315" src="https://www.youtube.com/embed/3UKgW1D84PQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>   

    <h5 class="bg-textoV mt-3 mb-2">Aquí tuvimos un día de purga en nuesta Alianza,donde todos los gremios que la estabamos incorporando salimos y empezamos a pelear entre nosotros por un periodo  de dos horas hasta que conformamos una nueva Alianza</h3> 

         <iframe class="m-video" width="560" height="315" src="https://www.youtube.com/embed/mbBTLoSk4aQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h5 class="bg-textoV mt-3 mb-2">Aca dejo varios videos para que disfruten:</h3>
        <iframe class="m-video mb-3"width="560" height="315" src="https://www.youtube.com/embed/5Prr15CNK64" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class="m-video mb-3" width="560" height="315" src="https://www.youtube.com/embed/T1Z04g0d0TU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>